img {
    height: 90%;   
    display: block;
    width: 100%;
}

.certificate-container {
    position: relative;
    display: inline-block;
}

.data {
    font-family:'Times New Roman', Times, serif;
    color: #000;
    line-height: 0.6;
    white-space: pre;
}

.a {
    position: absolute;
    top: 335px; 
    left: 320px; 
    font-size: 16px;
    width: 500px;
    padding: 10px;
}
.b{
    position: absolute;
    top: 325px; 
    left: 740px; 
    font-size: 16px;
    width: 500px;
    padding: 10px;
}
.c{
    background-color: aqua;
    margin-top: -470px;
    margin-left: 110px;
    line-height: 10px;

}

.data2{
    font-family:'Times New Roman', Times, serif;
    color: #000;
    margin-top: 8px;
    white-space: pre;
    padding-left: 350px;
    line-height: 0.4;
}
.data3{
    font-family:'Times New Roman', Times, serif;
    color: #000;
    margin-top: -5px;
    white-space: pre;
    padding-left: 480px;
    font-size: 17px;
}

.d4{
    position:absolute;
    color: #000;
    font-family:'Times New Roman', Times, serif;
    margin-top: -944px;
    margin-left: 110px;

}

.img{
    margin-left: -500px;
}